<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Get abonent {{data.message.id}}</title>
  </head>
  <body>
    <div>Id: {{data.message.id}}</div>
    <div>Username: {{data.message.username}}</div>
    <div>Email: {{data.message.email}}</div>
    <br>
    <a href="http://localhost:3000/abonents">Back</a>
    <br>
    <a href="http://localhost:3000">To main page</a>
  </body>
</html>