<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login/cookie" method="POST">
  <p>
    <label>Email</label>
    <input type="email" name="email">
  </p>
  <p>
    <label>Password</label>
    <input type="password" name="password">
  </p>
  <p>
    <button>
      Log In
    </button>
  </p>
</form>
<a href="http://localhost:3000">To main page</a>
  </body>
</html>