<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Log In</title>
  </head>
  <body>
    <div>{{data.message}}</div>
    <br>
    <a href="http://localhost:3000">To main page</a>
  </body>
</html>