<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Main Page</title>
  </head>
  <body>
    <a href="http://localhost:3000/animals">Animals</a>
    <br><br>
    <a href="http://localhost:3000/users">Users</a>
    <br><br>
    <a href="http://localhost:3000/abonents">Abonents</a>
    <br><br><br><br><br><br><br><br><br>
    <a href="http://localhost:3000/login">Login</a>
    <br><br>
    <a href="http://localhost:3000/register">Register</a>
    <br><br>
    <a href="http://localhost:3000/logout">Logout</a>
  </body>
</html>